
<span id="bill_desc">
    <%= text_field :product, :product_desc, :readonly => true %>
    <!-- <!%= hidden_field :inventoryitem, :product_id, :readonly => true %> -->
    <!-- <input type="hidden" id="sumone" name="sumname" value="<!%= @total %>"> -->

</span>