
<span id="bill_name">
    <%= text_field :product, :product_name, :readonly => true %>
    <p>Product Id :<%= text_field :product, :id, :readonly => true %></p>
    <!-- <input type="hidden" id="sumone" name="sumname" value="<!%= @total %>"> -->

</span>