



<h2>Bill Of Material Tree List</h2>


<div id="ajaxtree" style="width:20%;height:100%;float:left;">
 <%= render :partial=>"billmaterials/ajax_tree", :object=>[@billmaterial,@billmaterials] %>
</div>

<!--
<div id="selected_item" style="float:center;">
 <!%= render :partial=>"billmaterials/billmaterial", :object=>@billmaterial %>
</div>
-->

<div>
  <%= render :partial => "billmaterials/alldata" %>
</div>
