<h1>This is the first tab page</h1>

<p>
  Hi,

I've upgraded the teim rails version to 2.1.2. Added protect for forgery, use db session store. I would like you guys to test out all functionality and report to me if there are any problems.

So git pull your master branch for the latest code changes. 
</p>